$background: #FFF;
$text: #000;
$active: #696A6A;

$link: #acacac; 
$link-text-active: #787878;
$link-text-visited: #acacac;
$link-hover: #666;

$caption-bg: #FFF;

$black: #000;
$white: #fff;
$green: #0D8;
