// settings for typesettings
$font-sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-mono: 'Source Code Pro', Lucida Console, Monaco, monospace;
$text-color: #000;
$base-vertical-unit: 6px;
$base-line-multi: 4;
$base-font-size: 14px;
$ms-ratio: 1.414;
$paragraph-indent: false;
$paragraph-justify: false;
$load-typesetted: true;